
<h2>Cars</h2>
 
<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Car Id</th>
        <th>Name</th>
        <th>Model</th>
        <th>Brand</th>
        <th>variant</th>
        <th>Delete th car</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor='let car of cars'>
          <td>{{car.carId}}</td>
          <td>{{car.name}}</td>
          <td>{{car.model}}</td>
          <td>{{car.brand}}</td>
          <td>{{car.variant}}</td>
          <td><button class="btn btn-success" (click)='deleteCar(car)'>Delete</button></td>
        
      </tr>
    </tbody>
  </table>
</div> 



